<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align:center; background-color:azure"> Results for {{result}}</h1>  

{% comment %} <span>  
    {{ chart|safe }}
</span>

</span>  
    {{ chart2|safe }}
</span> {% endcomment %}

<div style="width: 100%; height: 650px;">  
  
    <div style="width: 50%; height: 550px; float:left;">  
    {{ chart|safe }}    
    </div>  

    <div style="width:50%; height: 550px; float:left;">  
 
    {{ chart2|safe }}
    </div>  
</div> 

